.btn {
  padding: var(--space-16);
  background: var(--color-primary);
  color: white;
  border-radius: 6px;
  transition: 0.3s;
}

.btn:hover {
  background: var(--color-primary-dark);
}

.btn:disabled {
  background: var(--gray-300);
}


.card {
  background: white;
  padding: var(--space-24);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}


input, textarea {
  width: 100%;
  padding: var(--space-16);
  border: 1px solid var(--gray-300);
  border-radius: 6px;
  margin-bottom: var(--space-16);
}


.alert-success {
  background: var(--color-secondary);
  color: white;
  padding: var(--space-16);
  border-radius: 6px;
}


.badge {
  background: var(--gray-300);
  padding: 4px 8px;
  border-radius: 6px;
  font-size: var(--fs-sm);
}
