@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--color-dark);
  background-color: var(--color-light);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

img {
  max-width: 100%;
  height: auto;
}